.r6siege__container {
	font-size: 20px;
	line-height: 25px;
	min-width: 320px;
	text-align: left;
}

.r6siege__container .r6siege__name {
	color: #fff;
	display: inline-block;
}

.r6siege__container .r6siege__level {
	float: right;
}

.r6siege__container .r6siege__stats {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.r6siege__container .r6siege__stats img {
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
}

.r6siege__container .r6siege__stats > div {
	flex: 1 1 80px;
	margin-top: 30px;
	text-align: center;
}

.r6siege__container .r6siege__stats > div > div:nth-of-type(1) {
	color: #fff;
}

.r6siege__container .r6siege__stats > div > div:nth-of-type(2) {
	color: #999;
	font-size: 16px;
	font-weight: 400;
}
